.container {
    display: grid;
    grid-template-columns: 1fr 340px;
}


.image_wrapper {
    border-radius: 22px;
    background: linear-gradient(145deg, #c8c8c8, #eeeeee);
    box-shadow: 8px 8px 16px #626262,
        -8px -8px 16px #ffffff;
    width: 300px;
    height: 360px;
    margin: auto;
}

.contacts {
    margin-top: 190px;
}


@media (max-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contacts {
        margin-top: 0px;
    }

    .image_wrapper {
        width: 300px;
        height: 360px;
        margin: 20px auto;
    }
}