.container {
    display: grid;
    margin:20px 0 ;
}


.image_wrapper {
    border-radius: 22px;
    background: linear-gradient(145deg, #c8c8c8, #eeeeee);
    box-shadow: 8px 8px 16px #626262,
        -8px -8px 16px #ffffff;
    width: 300px;
    height: 350px;
}

.contacts{
    margin-top: 190px;
}

